<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LibraryMov</title>
</head>
<body>
	<header id="Header">
		<h1 id="Header-title">LibraryMov</h1>
	</header>
	<section id="List">
		<h2 id="List-title">Lista de Péliculas</h2>
		<ul>
			<li class="List-item">
				<article class="List-contentMov">
					<h4 class="List-titleMov">Movie 1</h4>
				</article>
			</li>
			<li class="List-item">
				<article class="List-contentMov">
					<h4 class="List-titleMov">Movie 2</h4>
				</article>
			</li>
			<li class="List-item">
				<article class="List-contentMov">
					<h4 class="List-titleMov">Movie 3</h4>
				</article>
			</li>
			<li class="List-item">
				<article class="List-contentMov">
					<h4 class="List-titleMov">Movie 4</h4>
				</article>
			</li>
			<li class="List-item">
				<article class="List-contentMov">
					<h4 class="List-titleMov">Movie 5</h4>
				</article>
			</li>
			<li class="List-item">
				<article class="List-contentMov">
					<h4 class="List-titleMov">Movie 6</h4>
				</article>
			</li>
			<li class="List-item">
				<article class="List-contentMov">
					<h4 class="List-titleMov">Movie 7</h4>
				</article>
			</li>
			<li class="List-item">
				<article class="List-contentMov">
					<h4 class="List-titleMov">Movie 8</h4>
				</article>
			</li>
			<li class="List-item">
				<article class="List-contentMov">
					<h4 class="List-titleMov">Movie 9</h4>
				</article>
			</li>
			<li class="List-item">
				<article class="List-contentMov">
					<h4 class="List-titleMov">Movie 10</h4>
				</article>
			</li>
		</ul>
	</section>
	<aside id="Bar">
		<div id="Bar-search">
			<h3 id="Bar-searchTitle">Buscar</h3>
			<img id="Bar-searchIcon" src="" alt="iconoBuscar">
		</div>
		<div id="Bar-genre">
			<h3 id="Bar-genreTitle">Generos</h3>
			<ul>
				<li class="Bar-genreItem">Acción</li>
				<li class="Bar-genreItem">Drama</li>
				<li class="Bar-genreItem">Comedia</li>
				<li class="Bar-genreItem">Aventura</li>
				<li class="Bar-genreItem">Terror</li>
			</ul>
		</div>
		<div id="Bar-top">
			<h3 id="Bar-topTitle">Top Películas</h3>
			<ol>
				<li class="Bar-topItem">Movie 1</li>
				<li class="Bar-topItem">Movie 2</li>
				<li class="Bar-topItem">Movie 3</li>
				<li class="Bar-topItem">Movie 4</li>
				<li class="Bar-topItem">Movie 5</li>
			</ol>
		</div>
	</aside>
	<footer id="Footer">
		<h3 id="Footer-title">LibraryMovie - Versión 1.0</h3>
	</footer>
</body>
</html>